.header {
    height: 100px;
    width: 100%;
    background-color: #f5e79e;
}

ul li {
    display: inline;
    background-color: gainsboro;
}

h1{
    margin-top: 0px;
}

.selected {
    background-color: red;
}

.hiddenInfo {
    background-color: red;
    /*display: none;*/

}

.showInfo {
    display: none;

}