<div class = "container">
    <div class = "resultsSection" ng-controller="StartController">
        <form>
            <input type="text" ng-model="search" name="findbook" placeholder="Title OR Author"/>
            <div class='button'>
                <input type="submit" name="Submit" ng-click="callFunctions()"/>
            </div>
        </form>


                <div ng-repeat='newBook in allBookData' >
                    <div ng-click = "showFunction()">
                        <h4 >Title: {{newBook.name}}</h4>
                        <h4>Author: {{newBook.author}}</h4>
                </div>
                <div class = "hiddenInfo" ng-show="showInfo">
                    <h4> Publication Date: {{newBook.pubDate}}</h4>
                    <h4>Description: {{newBook.description}}</h4>
                </div>
            </div>
    </div>
</div>